<h3 align=center>Hello World</h3>

Let's say Hello to the world with a <code>PRINT</code> statement. E.g. <code>print("Hello World")</code>. Why not give it a try put in a print statement in the cell bellow. Don't forget to do <kbd>shift</kbd>+<kbd>enter</kbd> to run the cell:

In [1]:
print("Hello World")

Hello World

<h3 align=center>Say Hello World on two lines</h3>

Let's print Hello and World on two separate lines. Hint: \n in the middle of the string acts as a new line character. E.g. <code>print("line 1\nline 2")</code>. Let's try it now. Type in a print statement in the cell bellow. Don't forget to do <kbd>shift</kbd>+<kbd>enter</kbd> to run the cell:

In [2]:
print("Hello\nWorld")

Hello
World

<h3 align=center>Comments are key to good coding</h3>

In python, comments are created by putting a hash mark <code>#</code> in front of the text of the comment. E.g. <code># this is a comment</code>

In [3]:
# This is a comment

Find the type of the following using the type command

In [1]:
type("Hello World")

str

<h3 align=center>Type Casting</h3>

Cast the following to a int then to a bool

In [2]:
bool("1.1")

True

<h3 align=center>Slicing</h3>

Use slicing to find the first four elements of the following string:

In [1]:
Letters="ABCDEFGHIJK"
Letters[:4]

'ABCD'

<h3 align=center>Strides are Good</h3>

Use a stride value of two on the following string :

In [7]:
Good="GsoAo+d"
Good[::2]

'Good'

<h3 align=center>uppercase to UPPERCASE</h3>

Convert the following string to uppercase using the method upper()

In [10]:
"uppercase".upper()

'UPPERCASE'

<h3 align=center>LOWERCASE to lowercase</h3>

Convert the following string to lowercase using the method lower()

In [11]:
"LOWERCASE".lower()

'lowercase'

<h3 align=center>Create a Tuple</h3>

create the Tuple  (0,1,2,3) and assign it to the variable  A:

In [12]:
A = (0,1,2,3)

<h3 align=center>Find the elements of a Tuple</h3>

Find the first two elements of the Tuple  A :

In [13]:
A[:2]

(0, 1)

<h3 align=center>Lists</h3>

For the next few questions, you will need the following list:

In [15]:
B=["a","b","c"]

Find the first two elements of the list  B:

In [16]:
B[:2]

['a', 'b']

Change the first element of the list to an uppercase  "A"

In [18]:
B[0] = 'A'
B

['A', 'b', 'c']

<h3 align=center>List to Set</h3>

Cast the following list to a set:

In [19]:
set(['A','B','C','A','B','C'])

{'A', 'B', 'C'}

<h3 align=center>Add an Element to the Set</h3>

Add the string 'D' to the set S

In [21]:
S={'A','B','C'}

S.add('D')

S

{'A', 'B', 'C', 'D'}

Find the intersection of set A and B

In [22]:
A={1,2,3,4,5}
B={1,3,9, 12}

A & B

{1, 3}

<h3 align=center>Dictionary</h3>

In [26]:
D={'a':0,'b':1,'c':2}

Find the value for the key  'a'

In [28]:
D['a']

0

<h3 align=center>Keys</h3>

Find the keys of the dictionary <code>D</code>

In [32]:
D.keys()

dict_keys(['a', 'b', 'c'])